.Contact{
    margin: 50%;
    width: 50%;
    border: 3px ;
    padding: 10%;
}
.carousel{
    width: 60%;
    height: 100%;
    box-shadow: 0px 0px 3px grey;
    margin-top: 100px;
    margin: auto;
    margin-bottom: 100px;
}